$main_color: #08A6E4;
$background_color:#F7F7F7;
$first_decoration_color:#FB3B64;
$secodn_decoration_color:#55DFB4;
$contact_font_color:#707070;
$navigation_color:#A5A5A5;

$animationColor:#08c7e4;
$animationColor2:#09c9eb;

